<!DOCTYPE html>
<html lang="en">

<th:block th:fragment="pagination (pagina)">

  <nav>
    <ul class="pagination pagination-sm">
      <li th:class="${pagina.primeira} ? disabled">
        <a th:href="${pagina.urlParaPagina(pagina.atual - 1)}" th:remove="${pagina.primeira} ? tag"><span>&laquo;</span></a>
      </li>
      <th:block th:each="p: ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}" th:if="${p == 1 or p == pagina.total or (p > pagina.atual - 2 and p <= pagina.atual + 3)}">
        <li th:class="${pagina.atual == numeroPagina} ? active">
          <a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
        </li>
      </th:block>
      <li th:class="${pagina.ultima} ? disabled">
        <a th:href="${pagina.urlParaPagina(pagina.atual + 1)}" th:remove="${pagina.ultima} ? tag"><span>&raquo;</span></a>
      </li>
    </ul>
  </nav>

</th:block>
</html>