<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/LayoutPadrao">
<head>
<body>
    <section layout:fragment="conteudo">
        <div class="title_and_button">
            <h2>Listar equipamento</h2>
            <a th:href="@{'/equipamentos/novo'}" class="link-body-emphasis d-inline-flex text-decoration-none rounded"><i class="fa-solid fa-plus add_item"></i></a>
        </div>

        <div class="table-responsive small">
            <table class="table table-striped table-sm text-center">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Quantidade disponível</th>
                    <th scope="col">Quantidade total</th>
                    <th scope="col">Modificar</th>
                    <th scope="col">Excluir</th>
                </tr>
                </thead>
                <tbody>



                <th:block th:each="equipamento: ${equipamentos}">
                    <tr>
                        <td th:text="${equipamento.id}"></td>
                        <td th:text="${equipamento.descricao}"></td>
                        <td th:text="${equipamento.quantidadeDisponivel}"></td>
                        <td th:text="${equipamento.quantidadeTotal}"></td>
                        <td><i class="fa-regular fa-pen-to-square"></i></td>
                        <td><i class="fa-solid fa-trash"></i></td>
                    </tr>

                </th:block>


                </tbody>
            </table>
    </section>
</body>
</html>